/*
Style sheet to define the custom parameters.
*/

/*CUSTOM PARAMETERS*/
:root{
    /*Color palette*/
    --clr-light:#fff;
    --clr-partial-light:#D7E7F8; /*F3E8E6*/
    --clr-dark: #2E5B85; /*654B45*/
    --clr-very-dark:#1E4366; /*56281E*/
    --clr-very-very-dark: #0F2336; /*281C1A*/
    --clr-accent:#418AD0; /*CF634A*/
    --link-color: #0D8AFF; /*CB4A1B*/
    --link-color-hover: #025DB4; /*FF7000*/
  
    /*Font variables*/
    --ff-primary: 'Source Sans Pro',sans-serif;
    --ff-secondary: 'Source Sans Pro',monospace;
    --fw-reg:300;
    --fw-bold: 900;
    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1,25rem;
    --fs-body:1rem;
  
    /*Box shadow*/
    --bs: .25em 0.25em .75em rgba(0,0,0,.25),0.125em 0.125em 0.25em rgba(0,0,0,.15);
  }
  
  @media (min-width: 800px){
    :root{
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  }
  /*CUSTOM PARAMETERS*/