<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Art Gallery</title>

    <!-- Links -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/home/portfolio_logo.png">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet"
    href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!--Header-->
    <my-header></my-header>

    <!--Go top button-->
    <go-top></go-top>

    <!--Go back button-->
    <go-back></go-back>

    <!-- Art gallery section -->
    <section class="intro">
      <h2 class = "section__title section__title--intro">Welcome to my <strong class="name"><b class="project_3_name"></b></strong> </h2>
      <p class = "section__subtitle section__subtitle--intro project_3_type"></p>
      <img src = "../img/art/art_cover.jpg" alt="art page cover" width = 500 class="intro__img">
    </section>

    <div class="art__container">       
        <div class="art__item"><img src="../img/art/art01.jpg" alt="shinobu drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art02.jpg" alt="snake lady drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art03.jpg" alt="bird lady drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art04.jpg" alt="fairy girl drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art05.jpg" alt="dragin drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art06.jpg" alt="miyeon drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art07.jpg" alt="ying yang fish drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art08.jpg" alt="japanese lady drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art10.jpg" alt="maleficient drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art09.jpg" alt="fish girl drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art11.jpg" alt="ghost lady drawing" class="collection__img"></div>
        <div class="art__item"><img src="../img/art/art12.jpg" alt="scary faces drawing" class="collection__img"></div>
    </div>

    <div class="art_gallery_link">Art works are also displayed on my <a href="https://www.instagram.com/thiiluu.art/" target="_blank">Art Instagram Page</a>.</div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="modal_img">
    </div>

    <!-- Footer-->
    <my-footer></my-footer>

  </body>
  <script src="../js/jquery.js"></script>
  <script src="../js/custom.js"></script>
  <script src="../js/blueprints.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/modal.js"></script>

</html>
