<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Games</title>

    <!-- Links -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/home/portfolio_logo.png">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet"
    href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!--Header-->
    <my-header></my-header>

    <!--Go top button-->
    <go-top></go-top>

    <!--Go back button-->
    <go-back></go-back>

    <!-- Games section -->
    <section class="intro">
      <h2 class = "section__title section__title--intro">Let's play some <strong class="name"><b class="gamePro_name"></b></strong> </h2>
      <p class = "section__subtitle section__subtitle--intro gamePro_type"></p>
      <img src = "../img/games/games.gif" alt="game page gif" width = 500 class="intro__img">
    </section>

    <div class="block_wrap">
      <!-- Hungry Shark -->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">Hungry Shark</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>

        <div class = "block__body">
          <p>Inspired by the mobile game <b>"Hungry Shark"</b>,
          I've made my own version of it, with Python. This is probably the game that I am the most proud of.</p>
          <br>
          <br>
          <a href="../games/Hungry Shark.zip" download>
            <button class="pushable">
              <span class="front">
                Download (Windows)
              </span>
            </button>
          </a>
          <br><br>
        </div>
        <img src = "../img/games/hungryShark.jpg" alt="hungry shark cover" width="500" class="block__img">
        <video src="../video/shark.mp4" playsinline poster="../img/games/hungryShark.jpg" controls width="500" class="video"></video>
      </section>

      <!-- Car Crash -->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">Car Crash</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>

        <div class = "block__body">
          <p>Simple game that I have created, with Python, where a car has to avoid as many obstacle as it can.
          Hitting a rock leads to the end of the game.</p>
          <br>
          <br>
          <a href="../games/Car Crash.zip" download>
            <button class="pushable">
              <span class="front">
                Download (Windows)
              </span>
            </button>
          </a>
          <br><br>
        </div>
        <img src = "../img/games/carCrash.jpg" alt="car crash cover" width="500" class="block__img">
        <video src="../video/car.mp4" playsinline poster="../img/games/carCrash.jpg" controls width="500" class="video"></video>
      </section>

      <!-- Space Invaders -->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">Space Invaders</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>

        <div class = "block__body">
          <p>The first game that I made was a remake of the famous game <b>"Space Invaders"</b>, a game where
          a spaceship has to destroy incomming ennemies. This program is made with Python.</p>
          <br>
          <br>
          <a href="../games/Space Invaders.zip" download>
            <button class="pushable">
              <span class="front">
                Download (Windows)
              </span>
            </button>
          </a>
          <br><br>
        </div>
        <img src = "../img/games/spaceInvaders.jpg" alt="space invaders cover" width="500" class="block__img">
        <video src="../video/space.mp4" playsinline poster="../img/games/spaceInvaders.jpg" controls width="500" class="video"></video>
      </section>
    </div> <!--Block wrapper-->

    <!-- Footer-->
    <my-footer></my-footer>

  </body>
  <script src="../js/jquery.js"></script>
  <script src="../js/custom.js"></script>
  <script src="../js/blueprints.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/time.js"></script>

</html>
