<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Websites</title>

    <!-- Links -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/home/portfolio_logo.png">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet"
    href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!--Header-->
    <my-header></my-header>

    <!--Go top button-->
    <go-top></go-top>

    <!--Go back button-->
    <go-back></go-back>

    <!-- Websites section -->
    <section class="intro">
      <h2 class = "section__title section__title--intro">Here are my  <strong class="name"><b class="personal_name"></b></strong> </h2>
      <p class = "section__subtitle section__subtitle--intro personnal_type"></p>
      <img src = "../img/personal/html.jpg" alt="web page cover" width = 500 class="intro__img">
    </section>

    <div class="block_wrap">
  

  
      <!--CSS Zen garden page-->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">CSS Zen Garden</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>
  
        <div class = "block__body">
          <p>To enhance my CSS skills, I decided to take on the "CSS Zen Garden Challenge." The task was to style a common webpage <a href="http://www.csszengarden.com/214/page2/" target="blank">(original page)</a> using only CSS, without changing the original HTML.
            It turned out to be a cool project that helped me pick up different CSS tricks.
            I felt proud of what I achieved, and it was interesting to see how other developers approached the same challenge. 
            Overall, it was a fun way for me to explore and improve my CSS skills.</p>

          <br>
          <a target="_blank" class="csszg_link">
            <button class="pushable">
              <span class="front">
                Visit
              </span>
            </button>
          </a>
          <br><br>
          <h4>Skills:</h4>
          <ul style="list-style-type: none;">
              <li>Language(s): CSS</li>
              <li>Tool(s): Git/GitHub, VSCode</li>
          </ul>
        </div>
        <img src = "../img/personal/cssZenGarden.jpg" alt="css zen garden cover" width="500" class="block__img">
      </section>

      <!-- Python games -->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">Pygame Projects</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>

        <div class = "block__body">
          <p>Using Python's game module, Pygame, I honed my programming skills by crafting a variety of engaging games. 
            Among my creations are titles like Space Invaders, Car Crash, and Hungry Shark.
          </p>

          <br>
          <h4>Skills:</h4>
          <ul style="list-style-type: none;">
              <li>Language(s): Python / Pygame</li>
              <li>Tool(s): Git/GitHub, Pycharm</li>
          </ul>
          <br>
          <p><b>Hungry Shark demo</b></p>
          <video src="../video/shark.mp4" playsinline poster="../img/personal/hungryShark.jpg" controls width="500" class="video"></video>

          <br><br>
          <p><b>Download for Windows (.zip)</b></p>
          <br>
          <a href="../archives/Hungry Shark.zip" download>
            <button class="pushable">
              <span class="front">
                Hungry Shark
              </span>
            </button>
          </a>
          <br>
          <br>
          <a href="../archives/Car Crash.zip" download>
            <button class="pushable">
              <span class="front">
                Car Crash
              </span>
            </button>
          </a>
          <br>
          <br>
          <a href="../archives/Space Invaders.zip" download>
            <button class="pushable">
              <span class="front">
                Space Invaders
              </span>
            </button>
          </a>

        </div>
        <img src = "../img/personal/games.gif" alt="space invaders cover" width="500" class="block__img">
      </section>
  
      <!--Tititea page-->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">TiTiTea Website</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>
  
        <div class = "block__body">
          <p>For my first website,  I made a page for TiTiTea, a pretend tea shop. On this page, people could order tea, give ratings, and even check out job openings.
            While working on it, I picked up some useful web development skills.
            I started by making the page look good and easy to use. 
            Then, I added features to help users, like messages that pop up if they forgot to fill in all the required info in a form.
            To wrap it up, I set up a system on the back end to safely store the info people entered into a database. Users would get a quick confirmation message,
            letting them know their request was successfully sent to the back end.</p>
          <br>
          <a target="_blank" class="ttt_link">
            <button class="pushable">
              <span class="front">
                Visit
              </span>
            </button>
          </a>
          <br><br>
          <h4>Skills:</h4>
          <ul style="list-style-type: none;">
              <li>Language(s): JavaScript, HTML5, CSS, PHP, SQL</li>
              <li>Database: MySQL</li>
              <li>Tool(s): Git/GitHub, XAMPP Stack, VSCode </li>
          </ul>
        </div>
        <img src = "../img/personal/tititea.jpg" alt="tititea cover" width="500" class="block__img">
      </section>

    </div> <!--Block wrapper-->

    <!-- Footer-->
    <my-footer></my-footer>

  </body>
  <script src="../js/jquery.js"></script>
  <script src="../js/custom.js"></script>
  <script src="../js/blueprints.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/time.js"></script>


</html>
