<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

        <!-- Links -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" href="../img/home/portfolio_logo.png">
        <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet"
        href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <!--Header-->
        <my-header></my-header>

        <!--Go top button-->
        <go-top></go-top>

        <!--Go back button-->
        <go-back></go-back>

        <section class="intro">
            <h2 class = "section__title section__title--intro">Here are my my <strong class="name"><b class="schoolPro_name"></b></strong> </h2>
            <p class = "section__subtitle section__subtitle--intro schoolPro_type"></p>
            <img src = "../img/school/spCover.jpg" alt="web page cover" width = 500 class="intro__img">
          </section>

        <div class="block_wrap">

            <!-- Pusherss game-->
            <section class="block project__item">
                <h2 class = "section__title section__title--block">Pushers Game</h2>
                <p class = "section__subtitle section__subtitle--block">Winter 2023 (ÉTS)</p>

                <div class = "block__body">
                    <p>As part of the <b>Data Structures and Algorithms</b> course, giving a board game, we had the task to implement an AI that determines the best moves to play in that game.
                        The game is called <b>Pushers</b>, where the player have to reach the opponent's last row by moving his pieces. The rules are simple: 
                    </p>
                    <br>
                    <ul style = "list-style: none;">
                        <li>Pushables are the smaller pieces and can only be pushed by pushers</li>
                        <li>Pushers are the bigger pieces and can move by themselves</li>
                        <li>Pieces can move up or diagonally, but not backward or sideways</li>
                        <li>Pieces can only capture diagonally</li>
                    </ul>
                    <br>
                    <p>For this lab, we had to implement a move generator that returns all the possible moves, the minimax algorithm with pruning and the static evaluation function
                        that determines the strategy of the AI.
                    </p>
                    <br>
                    <h4>Work time: 6 weeks</h4>
                    <h4>Skills:</h4>
                    <ul style="list-style-type: none;">
                        <li>Language(s): Java</li>
                        <li>Algorithms: MiniMax, Alpha-Beta Pruning</li>
                        <li>Data structures: 2D arrays </li>
                        <li>Tools: Git/GitHub, IntelliJ</li>
                    </ul>
                </div>
                <img src = "../img/school/pushers.png" alt="pushers cover" width="500" class="block__img">
            </section>

            <!--Huffman algorithm-->
            <section class="block project__item">
                <h2 class = "section__title section__title--block">Huffman algorithm</h2>
                <p class = "section__subtitle section__subtitle--block">Winter 2023 (ÉTS)</p>

                <div class = "block__body">
                    <p>As part of the <b>Data Structures and Algorithms</b> course, we had the task to implement the Huffman algorithm, 
                        which is used to compress and decompress files. This algorithm was implemented by creating the frequency table of each caracters in a file, 
                        building the Huffman tree from the frequency table, generating the Huffman code from the Huffman tree and encoding/decoding the file from the Huffman code.
                    </p>
                    <br>
                    <h4>Work time: 3 weeks</h4>
                    <h4>Final grade: 97.5%</h4>
                    <h4>Skills:</h4>
                    <ul style="list-style-type: none;">
                        <li>Language(s): Java</li>
                        <li>Algorithms: Huffman, Recursive</li>
                        <li>Data structures: Binary search tree, HashMap, ArrayList, PriorityQueue</li>
                        <li>Tools: Git/GitHub, IntelliJ</li>
                    </ul>
                </div>
                <img src = "../img/school/huffman.png" alt="huff cover" width="500" class="block__img">
            </section>

            <!--Chain of Production-->
            <section class="block project__item">
                <h2 class = "section__title section__title--block">Chain of Production Simulation</h2>
                <p class = "section__subtitle section__subtitle--block">Fall 2022 (ÉTS)</p>

                <div class = "block__body">
                    <p>As part of the <b>Object-Oriented Programming and Conception</b> course, we were asked to
                        program a chain of production that produce airplanes. In this simulation, 
                        different factories are needed to produce airplanes. For instance, metal factories are needed 
                        to create metal. The metal will be sent to wing and engine factories to create those components. Lastly, 
                        wings and engines are sent to the assembly factory, that produce the airplane. Produced airplanes are
                        sent to a warehouse, where they will sell the airplanes (with fixed interval or at random). 
                        The warehouse also have a maximum capacity and have to stop the production when it is full. Before all, we were asked 
                        to think about the system's conception, by making a UML class diagram and sequence diagrams for important operations.
                    </p>
                    <br>
                    <h4>Work time: 4 weeks</h4>
                    <h4>Final grade: 91%</h4>
                    <h4>Skills:</h4>
                    <ul style="list-style-type: none;">
                        <li>Language(s): Java, XML, UML</li>
                        <li>Framework: JavaSwing</li>
                        <li>Pattern Designs: Observator, Stategy, Singleton</li>
                        <li>Tools: Git/GitHub, IntelliJ, Visual Paradigm</li>
                    </ul>
                </div>
                <img src = "../img/school/chain.jpg" alt="ProdChain cover" width="500" class="block__img">
            </section>
        </div>

        <!-- Footer-->
        <my-footer></my-footer>

    </body>
    <script src="../js/jquery.js"></script>
    <script src="../js/custom.js"></script>
    <script src="../js/blueprints.js"></script>
    <script src="../js/index.js"></script>

</html>