<!DOCTYPE html>
<html lang="eng">

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> - Websites</title>

    <!-- Links -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/home/portfolio_logo.png">
    <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet"
    href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!--Header-->
    <my-header></my-header>

    <!--Go top button-->
    <go-top></go-top>

    <!--Go back button-->
    <go-back></go-back>

    <!-- Websites section -->
    <section class="intro">
      <h2 class = "section__title section__title--intro">Browse through my <strong class="name"><b class="webPro_name"></b></strong> </h2>
      <p class = "section__subtitle section__subtitle--intro webPro_type"></p>
      <img src = "../img/websites/html.jpg" alt="web page cover" width = 500 class="intro__img">
    </section>

    <div class="block_wrap">
  
      <!--Opac pages-->
      <section class="block project__item" id ="opac">
        <h2 class = "section__title section__title--block">Koha's OPAC pages</h2>
        <p class = "section__subtitle section__subtitle--block">2022</p>
  
        <div class = "block__body">
          <p>During my first intership at <a href="https://inlibro.com/" target="_blank">Solution inLibro</a>, I personalized the OPAC for St-Jean Vianney College and
          the Cultural French Center of Vancouver.
          Koha's OPAC is an interface where the clients can do multiple tasks, such as reserve an item, search for a specific item, and more. I had a lot of fun
          while working on this project, since I've always love to develop websites and improve my creativity.</p>
          <br>
          <br>
          <a target="_blank" class="csjv_link">
            <button class="pushable" title="St-Jean Vianney College">
              <span class="front">
                CSJV
              </span>
            </button>
          <br><br>
          </a>
          <a target="_blank" class="ccfv_link">
            <button class="pushable" title="Cultural French Center of Vancouver">
              <span class="front">
                CCFV
              </span>
            </button>
          </a>
          <br><br>
        </div>
        <img src = "../img/websites/CSJV.jpg" alt="opac cover" width="500" class="block__img">
      </section>
  
      <!--CSS Zen garden page-->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">CSS Zen Garden</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>
  
        <div class = "block__body">
          <p>Wanting to improve my skills in CSS, I participated in the <b>"CSS Zen Garden Challenge"</b>.
          In this challenge, we all started with the same HTML file, except that we have to make our own CSS to style the homepage <a href="http://www.csszengarden.com/214/page2/" target="blank">(original page)</a>, without modifying the HTML. This was a
          perfect project for me, because it taught me a lot about various CSS properties. Not only I was very proud of my work,
          but I could also see what other developers made, which I found really interesting.</p>
          <br>
          <a target="_blank" class="csszg_link">
            <button class="pushable">
              <span class="front">
                Visit
              </span>
            </button>
          </a>
          <br><br>
  
        </div>
        <img src = "../img/websites/cssZenGarden.jpg" alt="css zen garden cover" width="500" class="block__img">
      </section>
  
      <!--Tititea page-->
      <section class="block project__item">
        <h2 class = "section__title section__title--block">TiTiTea Website</h2>
        <p class = "section__subtitle section__subtitle--block">2021</p>
  
        <div class = "block__body">
          <p>For my first website, I created a page that represents a tea shop, named TiTiTea.
          Clients can order tea, rate the place and even apply to open positions. By making this website, I've
          learned a lot of important skills in web developing. First, I learned how to design a page.
          Then, I discoverd how to make the website interact with the client. For instance, if the client
          doesn't fill all the required fields in a form, a message will show up. Finally,
          I'm able to store the data inputted by the client into a database and show them that
          their request has been submitted and sent to the back-end.</p>
          <br>
          <a target="_blank" class="ttt_link">
            <button class="pushable">
              <span class="front">
                Visit
              </span>
            </button>
          </a>
          <br><br>
  
        </div>
        <img src = "../img/websites/tititea.jpg" alt="tititea cover" width="500" class="block__img">
      </section>
    </div> <!--Block wrapper-->

    <!-- Footer-->
    <my-footer></my-footer>

  </body>
  <script src="../js/jquery.js"></script>
  <script src="../js/custom.js"></script>
  <script src="../js/blueprints.js"></script>
  <script src="../js/index.js"></script>
  <script src="../js/time.js"></script>


</html>
